.thumbnail img{
	width:100%;
}

.thumbnail{
	padding: 0;
}

.caption-full{
	padding:10px;
}

.delete-form{
	display: inline;
}
.campground-form {
	width: 30%; 
	margin: 25px auto;
}

.campground-h1{
	text-align: center;
}